<h1><%= @comment.author.username %> : <%= @comment.content %></h1>

<h2>New Nested Comment</h2>

<form action="<%= comments_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Comment">Comment</label>
  <input type="text" id="Comment" name="comment[content]">

<input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">
<input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">

<input type="submit" value="New Nested Comment">
</form>
